body {
  background-image: url(../img/dots.svg)
}
.txtgrdint1{
  background: -webkit-linear-gradient(135deg, transparent 0%, #ffffff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.bg-brands{
  background-color: #2a2f34;
}
.border-bottom{
  color: rgb(255, 255, 255 , 0.5)!important;
}
.card{
  padding-top: 160px !important;
  background-color: #32383d !important;
  color: #9E9E9E !important;
}
.nav-logo {
  padding: 7px 10px;
  border: 1px solid #32383d;
  border-radius: 50%;
  margin-right: 10px;
}
.footer{
  border-top: 1px solid #5d5858;
}
header ul li:hover{
transition: all .7s;
scale: 1.3;
}
.hover:hover{
  transition: all .7s!important;
  color: rgb(165, 203, 203)!important;
}
.icn-hver1:hover{
  transition: all .7s!important;
  scale: 1.3!important;
  color: rgb(246, 107, 214)!important;
}
.icn-hver2:hover{
  transition: all .7s!important;
  scale: 1.3!important;
  color: rgb(255, 127, 127)!important;
}
.icn-hver3:hover{
  transition: all .7s!important;
  scale: 1.3!important;
  color: rgb(0, 0, 0)!important;
}
.icn-hver4:hover{
  transition: all .7s!important;
  scale: 1.3!important;
  color: rgb(0, 166, 255)!important;
}
.icn-hver1{
  color:#9E9E9E ;
}
.icn-hver2{
  color:#9E9E9E ;
}
.icn-hver3{
  color:#9E9E9E ;
}
.icn-hver4{
  color:#9E9E9E ;
}
div header a{
  transition: all .7s;
}
div header ul li{
  transition: all .7s;
}
.icn-hver1{
  transition: all .7s!important;
}
.icn-hver2{
  transition: all .7s!important;
}
.icn-hver3{
  transition: all .7s!important;
}
.icn-hver4{
  transition: all .7s!important;
}
@font-face {
  font-family: 'Butler';
  src: url('fonts/Butler-UltraLight.woff2') format('woff2'),
      url('fonts/Butler-UltraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Butler';
  src: url('fonts/Butler-Medium.woff2') format('woff2'),
      url('fonts/Butler-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Butler';
  src: url('fonts/Butler-Light.woff2') format('woff2'),
      url('fonts/Butler-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Butler';
  src: url('fonts/Butler-Black.woff2') format('woff2'),
      url('fonts/Butler-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Butler';
  src: url('fonts/Butler-Bold.woff2') format('woff2'),
      url('fonts/Butler-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Butler';
  src: url('fonts/Butler-ExtraBold.woff2') format('woff2'),
      url('fonts/Butler-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Butler';
  src: url('/fonts/Butler.woff2') format('woff2'),
      url('fonts/Butler.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
*{
  font-family: 'butler';
}